body {
    margin:0;
    background:#f5f1e8;
    color:#111;
    font-family:Arial, sans-serif;
}


.navbar {
    width:85%;
    margin:25px auto;
    padding:20px 30px;
    background:white;
    border-radius:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 30px #0002;
}


.logo h2 {
    margin:0;
}


nav a {
    color:black;
    text-decoration:none;
    margin:15px;
}


.hero {
    min-height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}


.hero h1 {

font-size:70px;

max-width:900px;

}


.tagline {

font-size:20px;

}


.subtitle {

font-size:20px;

color:#555;

}


.categories,
.latest,
.about {

width:85%;
margin:auto;
padding:40px 0;

}


.category-grid {

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}


.card {

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 5px 20px #0002;

font-size:18px;

}


.card:hover {

transform:translateY(-5px);

}


footer {

text-align:center;

padding:30px;

background:white;

}


@media(max-width:800px){

.category-grid{

grid-template-columns:1fr;

}


.navbar{

flex-direction:column;

}


.hero h1{

font-size:40px;

}

}
